PORT=8080
ENV=local
CORS_ORIGINS=http://localhost:3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=orbit
POSTGRES_SSLMODE=disable

CLERK_SECRET_KEY=

FRONTEND_URL=http://localhost:3000
RESEND_API_KEY=
RESEND_FROM_EMAIL="Shivang Yadav <hi@tryorbit.cloud>"

BETTERSTACK_SOURCE_TOKEN=
BETTERSTACK_INGESTING_HOST=
LOG_LEVEL=info
